html {
    box-sizing: border-box;;
}
* {
    box-sizing: inherit;
}

p {
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 200px;
    height: 200px;
    background-color: orange;
}

.my-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 250px;
}

.has-blue-background {
    background-color: #a7ddff;
    border: 1px solid #721ee3;
}

.has-yellow-background {
    background-color: #faf7a7;
    border: 1px solid #e38c1e;
}

.flexbox-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-top: 2rem;
}